<% content_for :title, "Editing API key" %>

<h1>Editing API key</h1>

<%= render "form", api_key: @api_key %>

<br>

<div>
  <%= link_to "Show this API key", @api_key %> |
  <%= link_to "Back to API keys", api_keys_path %>
</div>
