<p style="color: green"><%= notice %></p>

<% content_for :title, "API keys" %>

<h1>API keys</h1>

<div id="api_keys">
  <% @api_keys.each do |api_key| %>
    <%= render api_key %>
    <p>
      <%= link_to "Show this api key", api_key %>
    </p>
  <% end %>
</div>

<%= link_to "New api key", new_api_key_path %>
