<p style="color: green"><%= notice %></p>

<%= render @api_key %>

<div>
  <%= link_to "Edit this API key", edit_api_key_path(@api_key), role: "button" %>
  <%= link_to "Destroy this API key", @api_key, "data-turbo-method": :delete, role: "button" %>
</div>
