<%= render_layout "body" do %>
  <main>
    <hgroup>
      <h1><%= content_for(:title) || @page_title %></h1>
      <% if subtitle = content_for(:subtitle) || @page_subtitle %>
        <h2><%= subtitle %></h2>
      <% end %>
    </hgroup>
  </main>
  <main>
    <%= yield %>
  </main>
  <footer>
    <hr>

    <small>
      <p>
        This is a demo that shows how a SaaS can streamline their sign-up and setup process from multiple steps and pages of documentation into two steps with <a href="https://terminalwire.com">Teminalwire</a>.
      <p>

      <p>
        If you'd like to setup a personalized demo, please reach out, <a href="https://terminalwire.com/human">talk to a human</a>, and we'll setup some time together.
      <p>

      <p>
        <a href="https://github.com/terminalwire/demodx">Source Code</a> for this demo may be found on <a href="https://github.com/terminalwire/demodx">Github</a>.
      </p>

    </small>
  </footer>
<% end %>
