<%= render_layout "body" do %>
  <main>
    <hgroup>
      <h1><%= content_for(:title) || @page_title %></h1>
      <% if subtitle = content_for(:subtitle) || @page_subtitle %>
        <h2><%= subtitle %></h2>
      <% end %>
    </hgroup>
  </main>
  <main>
    <%= yield %>
  </main>
  <footer>
    <small>
      This is a demo that shows how a SaaS can streamline their sign-up and setup process from multiple steps and pages of documentation into two steps with Teminalwire. <a href="https://github.com/terminalwire/demodx">Source Code</a> for this demo may be found on <a href="https://github.com/terminalwire/demodx">Github</a>.
    </small>
  </footer>
<% end %>
